@page "/"
@namespace LigthStreet.AdminSite.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LigthStreet.AdminSite</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="~/css/login.css" rel="stylesheet" />
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBN2flaovRh2XfVjhrADu7F7r-mxZSJ6iA&callback=initMap">
    </script>
    <script src="~/js/classes.js"></script>
    <script src="~/js/maps.js"></script>
    <script>
        function showPassword() {
            if (document.getElementById("eyePassword").style.color !== "lawngreen") {
                document.getElementById("eyePassword").style.color = "lawngreen";
                document.getElementById("PasswordUser").type = "text";
            }
            else {
                document.getElementById("eyePassword").style.color = "black";
                document.getElementById("PasswordUser").type = "password";
            }
        }

        function successAlert(message) {
            $('.alert-success').show();
            document.getElementsByClassName("alert-success")[0].innerText = message;
            setTimeout(function () { $('.alert-success').slideUp(1000); }, 2000);
        }

        function dangerAlert(message) {
            $('.alert-danger').show();
            document.getElementsByClassName("alert-danger")[0].innerText = message;
            setTimeout(function () { $('.alert-danger').slideUp(1000); }, 2000);
        }

        function warningAlert(message) {
            $('.alert-warning').show();
            document.getElementsByClassName("alert-warning")[0].innerText = message;
            setTimeout(function () { $('.alert-warning').slideUp(1000); }, 3000);
        }

        function registerAlert(message) {
            $('.alert-danger').css("display", "block");
            var textnode = document.createTextNode(message);
            document.getElementById('alert').appendChild(textnode)
        }

        function closeAlert() {
            $('.alert-danger').css("display", "none");
        }

        function disableRegister() {
            document.getElementById("register-btn").setAttribute("disabled", "disabled");
        }

        function enableRegister() {
            document.getElementById("register-btn").removeAttribute("disabled");
        }
    </script>
</body>
</html>
