@page "/demo"

<div class="row m-0 p-0">
    <div class="col-sm m-0 p-0 d-inline-flex">
        <div class="w-25">
            <select class="browser-default custom-select" id="selectValue">
                <option selected value="2">Sort</option>
                <option value="1">Light</option>
            </select>
        </div>
        <div class="w-25 ml-2">
            <p id="sliderLabel" class="text-left m-0 p-0">50%</p>
            <input type="range" class="custom-range" min="0" max="100" step="1" id="sliderValue" oninput="updateLabel(this.value)">
        </div>
        <div class="ml-2">
             <button class="btn btn-outline-primary">Start</button>
        </div>
    </div>
</div>

<div class="row m-0 p-0">
    <div class="col-sm">
        <img width="300" height="300" src="https://imgstorage123.blob.core.windows.net/partnersfiles1/interface.png"/>
    </div>
    <div class="col-sm ml-2">
        <img width="300" height="300" src="https://imgstorage123.blob.core.windows.net/partnersfiles1/interface.png"/>
    </div>
</div>
