@page "/"
@inject IJSRuntime jsruntime

<form onsubmit="getRouteValues()" class="form-inline mb-2" id="destform">
    <div class="form-group mr-1">
        <input type="text" id="origin" class="form-control" placeholder="Origin" required>
    </div>
    <div class="form-group mr-1">
        <input type="text" id="destination" class="form-control" placeholder="Destination" required>
    </div>
    <div class="form-group">
        <input type="submit" class="form-control btn btn-primary">
    </div>
</form>

<div id="map"></div>

@code{

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await jsruntime.InvokeVoidAsync("initMap");
        }

    }
}
<style>
    #map {
        width: 100%;
        height: 80vh;
        background-color: grey;
    }
</style>